article{
    margin-top: 16px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 5px 4px;
    width: 100%;
}

h4{
    text-align: center;
    font-size: 28px;
    color: white; /* Color blanco para el texto */
    -webkit-text-stroke: 1px black; /* Borde negro alrededor del texto */
}
.container div{
    min-width: 100px;
    max-width: 550px;
    min-height: 300px;
    max-height: 500px;
    background-size: cover;
    background-position:center;
    filter:brightness(65%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont1{
    background-image: url(../images/main/conjutos.jpg);
    background-size: cover;
    background-position:center;
}
.cont2{
    background-image: url(../images/main/Deportivo.png);
    
}
.cont3{
    background-image: url(../images/main/Bombas.png)
}
.cont4{
    background-image: url(../images/main/Herotic.png)
}