@font-face {
    font-family: 'RobotoCondensed';
    src: url('/public/fonts/RobotoCondensed-VariableFont_wght.ttf') format('woff2');
/*    font-weight: 400;
    font-style: normal;*/
  }
  
  @font-face {
    font-family: 'Saira';
    src: url('/fonts/MyCustomFont-Bold.woff2') format('woff2');
    /*font-weight: 700;
    font-style: normal;*/
  }
  